<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <meta name="description" content="Der Inhalt des Vortrags">
    <meta name="author" content="{{ author }}">

    <link rel="stylesheet" href="css/all.css" id="theme">
    <script data-main="js/main" src="js/vendor/require.js"></script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

    </script>
    <script type="text/javascript">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true }    });
    </script>
</head>

<!--
  Was machen die extra CSS Klassen?
  charred: charred-trail Plugin aktivieren,
  auto-fragment: alle <li> innerhalb von <ul> und <ol> in Fragments umwandeln, d.h. bei Tastendruck erst einblenden
-->
<body class="charred auto-fragment">

<div class="i18n">
    <span class="section-overview">{{ overview_name }}</span>
</div>

<!-- Titel-Slide -->
<section>
  <h1>{{ title }}</h1>
  <h3>{{ subtitle }}</h3>
  <p style="padding-top:15%">
    <a href="mailto:{{ email }}">{{ author }}</a>,
    {{ place }}, {{ date }}
  </p>
  <a href="http://www.tngtech.com"><img class="logo" src="img/tng.svg"></a>
</section>

{% for section in sections %}
<section data-title="{{ section[0]['title']|striptags }}">
    {% for slide in section[1] %}
    <section>
        <h2>{{ slide[0]['title']|striptags }}</h2>
        <ul>
        {% for bullet in slide[1] recursive %}
          {% if bullet[0]['SHOW'] is sameas True %}
            <li>{{bullet[0]['title']}}
            {% if bullet[1]|length > 0 %}
              <ul class="{{ bullet[0].class }}">{{ loop(bullet[1]) }}</ul>
            {% endif %}
            </li>
          {% else %}
            {% if bullet[1]|length > 0 %}
              {% for b in bullet[1] %}
                <p>{{ b[0]['title'] }}</p>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
    </section>
    {% endfor %}
</section>
{% endfor %}
</body>
</html>